<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.spirngboot.takeout.dao.AllotinfMapper">
  <resultMap id="BaseResultMap" type="com.yc.spirngboot.takeout.bean.Allotinf">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="discrict_id" jdbcType="INTEGER" property="discrictId" />
    <result column="rename" jdbcType="VARCHAR" property="rename" />
    <result column="rephone" jdbcType="VARCHAR" property="rephone" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, discrict_id, rename, rephone, u_id
  </sql>
  <select id="selectByExample" parameterType="com.yc.spirngboot.takeout.bean.AllotinfExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from allotinf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from allotinf
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from allotinf
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yc.spirngboot.takeout.bean.AllotinfExample">
    delete from allotinf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yc.spirngboot.takeout.bean.Allotinf">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into allotinf (discrict_id, rename, rephone, 
      u_id)
    values (#{discrictId,jdbcType=INTEGER}, #{rename,jdbcType=VARCHAR}, #{rephone,jdbcType=VARCHAR}, 
      #{uId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.spirngboot.takeout.bean.Allotinf">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into allotinf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="discrictId != null">
        discrict_id,
      </if>
      <if test="rename != null">
        rename,
      </if>
      <if test="rephone != null">
        rephone,
      </if>
      <if test="uId != null">
        u_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="discrictId != null">
        #{discrictId,jdbcType=INTEGER},
      </if>
      <if test="rename != null">
        #{rename,jdbcType=VARCHAR},
      </if>
      <if test="rephone != null">
        #{rephone,jdbcType=VARCHAR},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yc.spirngboot.takeout.bean.AllotinfExample" resultType="java.lang.Long">
    select count(*) from allotinf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update allotinf
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.discrictId != null">
        discrict_id = #{record.discrictId,jdbcType=INTEGER},
      </if>
      <if test="record.rename != null">
        rename = #{record.rename,jdbcType=VARCHAR},
      </if>
      <if test="record.rephone != null">
        rephone = #{record.rephone,jdbcType=VARCHAR},
      </if>
      <if test="record.uId != null">
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update allotinf
    set id = #{record.id,jdbcType=INTEGER},
      discrict_id = #{record.discrictId,jdbcType=INTEGER},
      rename = #{record.rename,jdbcType=VARCHAR},
      rephone = #{record.rephone,jdbcType=VARCHAR},
      u_id = #{record.uId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.spirngboot.takeout.bean.Allotinf">
    update allotinf
    <set>
      <if test="discrictId != null">
        discrict_id = #{discrictId,jdbcType=INTEGER},
      </if>
      <if test="rename != null">
        rename = #{rename,jdbcType=VARCHAR},
      </if>
      <if test="rephone != null">
        rephone = #{rephone,jdbcType=VARCHAR},
      </if>
      <if test="uId != null">
        u_id = #{uId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.spirngboot.takeout.bean.Allotinf">
    update allotinf
    set discrict_id = #{discrictId,jdbcType=INTEGER},
      rename = #{rename,jdbcType=VARCHAR},
      rephone = #{rephone,jdbcType=VARCHAR},
      u_id = #{uId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>